@model GOASS.Models.ItemCommande

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemCommande</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantUnitaire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantUnitaire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commande)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commande.CommandeID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produit.ProduitID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ItemCommandeID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
